<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="/views/owner/home.html">Real Estate Manager</a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/views/owner/property/property.html">Properties</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/views/owner/tenant/tenant.html">Tenants</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/views/owner/meter/meter.html">Meters</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/views/owner/apartment/apartment.html">Apartments</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/views/owner/invoice/invoice.html">Invoices</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/views/owner/payment/payment.html">Payments</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/views/owner/reading/reading.html">Readings</a>
        </li>
    </ul>
</nav>