<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tenants</title>

    <link rel="stylesheet" type="text/css" href="/dataTables/css/datatables.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/dataTables/js/datatables.min.js"></script>
    <script type="text/javascript" src="tenant.js"></script>
    <script type="text/javascript" src="../shared/navbar.js"></script>
</head>
<body>

<div id="nav-placeholder"></div>
<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th>Password</th>
            <th>Phone number</th>
            <th>Document Id</th>
            <th>Birthday</th>
            <th>Apartment</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th>Password</th>
            <th>Phone number</th>
            <th>Document Id</th>
            <th>Birthday</th>
            <th>Apartment</th>
        </tr>
        </tfoot>
        <tbody>
        </tbody>
    </table>
</div>
</body>
</html>